#!/usr/bin/env bash

# ################################################################################################################################### #
# This .envrc file is used to configure the development environment,
#
# It's important to keep sensitive information like API keys or passwords out of version control,
# which is why the .env file sourced in the .envrc script is not committed to the repository.
#
# One way to manage environment variables and ensure they are not exposed in version control is to use a tool like direnv,
# which allows you to define environment variables in a per-directory basis.
# With direnv, you can create a .envrc file, like this, that is committed to the repository
# and defines the environment variables that all users need to set.
#
# You can then create a separate .env file that is not committed and contains sensitive information like API keys or passwords.
#
# When a user navigates to the project directory with direnv installed, the tool will automatically load
# the appropriate .envrc file based on the current directory and apply the defined environment variables.
#
# This way, users can work with the codebase without being exposed to sensitive information,
# and each user can customize their environment by creating their own .env file.
# ################################################################################################################################### #

# The current working directory
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

# Load sensitive environment variables
source $SCRIPT_DIR/.env

# ################################################################################################################################### #
# The following environment variables are required to be set in the .env file.
#
# * HCLOUD_TOKEN : see https://docs.hetzner.cloud/#getting-started
# ################################################################################################################################### #
[[ -z "${HCLOUD_TOKEN}" ]] && echo 'Invalid environment configuration: "HCLOUD_TOKEN" is missing.' && exit 1

# ################################################################################################################################### #
# The following environment variables are used during the terraform apply process.
# ################################################################################################################################### #
export TF_VAR_HCLOUD_TOKEN=$HCLOUD_TOKEN
